<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="wel.component.css">
    <title>Design Studio</title>
</head>
<body>
    <div class="outer-container">
        <nav class="top-row">
            <div class="top-left logo">Random User</div>
            <div class="top-center">
              
                <div class="top-left logo">Welcome</div>
              
            </div>
            <div class="top-right auth-buttons">
                <button class="login" (click)="login()">Login</button>
                <button class="login" (click)="regis()">regis</button>

                
            </div>
        </nav>
        <div class="middle-row">
            <div class="middle-left"></div>
            <div class="middle-center">
                <!-- Add content here -->
            </div>
            <div class="middle-right"></div>
        </div>
        <div class="bottom-row">
            <div class="bottom-left"></div>
            <div class="bottom-center"></div>
            <div class="bottom-right"></div>
        </div>
    </div>
</body>
</html>
